.invalidcontainer{
    background-color:   rgb(18,18,19);
    position: absolute;
    height:10vh;
    width:23vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3.5rem;
    border-color: white;
    border-style: solid;
    margin-top: 30vh;
}