.endcontainer{
    color:black;
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    height:40vh;
    width:fit-content;
    flex-direction: column;
    background-color: rgb(27, 27, 33);
    overflow: hidden;
    border-radius: 30px;
    padding: 25px;
}

.acontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size:2.5rem;
}

.playagain{
    border-radius: 3rem;
    width:12rem;
    height:4rem;
    font-size: 1.5rem;
    margin-top: 25px;
}

.acontainer div{
    color: white;
    margin-top: 0;
}
