@font-face {
    font-family: 'ClearSans';
    src: url('./fonts/ClearSans-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: 'ClearSans', sans-serif;
  }